# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Local
.local/
uploads/

# Git
.git/
.gitignore
